@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

/* Background image postioning code sourced from csstricks.com */
html { 
  background: url(img/landing_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing_text_box {
	width: 25%;

	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 25p;
	
	margin-right: 25px;
	margin-top: 25px;

	background-color: rgba(255, 255, 255, 0.7);
	float: right;
	border-radius: 5px;
}

ol {
	padding-left: 25px;
}

li {
	padding-top: 4px; 
	padding-bottom: 4px;
}