@font-face {
        font-family: CombiNumerals;
        src: url("rsc/Combinumerals-OGR4.ttf");
}

.nav-bar {
        width: 87.5%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 12.5%;
        font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
        background-color: #fffff8;
        color: #111;
        max-width: 1400px;
}

.nav-next {
        float: right;
}

.nav-prev {
        float: left;
}

.nav-up {
        text-align: center;
}

.all-caps {
        font-variant: small-caps;
        letter-spacing: 0.2em;
        margin-top: 2em;
        margin-bottom: 1em;
}

.small-caps {
        font-variant: small-caps;
}

a {
        text-decoration: none;
        color: #4682B4;
}

a:hover {
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
        border-radius:5px;
}